<div class="user-details">
  <h1>
    <a aria-label="My blog" href="{{ '/2020/03/10/index.html' | prepend: site.github_url }}"></i>Welcome To LM's Blog!
    </a>
  </h1>
  <p><b>{{ site.user_description }}</b></p>
</div>
<div style="width:fit-content;margin:20px auto 0;">
  <ul>
    <li>一年产品经验，两年项目经验，三年开发经验。</li>
    <li>躬身入局，了解工控行业客户群体类型及需求。</li>
    <li>项目管理流程，软件开发流程。</li>
    <li>内外部沟通能力，组织协调能力。</li>
    <li>产品培训经验，产品直播经验。</li>
  </ul>
  <div>
    <a aria-label="My Resume" href="resume" target="resume" class="font-style1" style="text-decoration: none;"><b>我的简历
        My Resume</b>
    </a>
  </div>
</div>