<div class="m-contents">
    <a class="m-about-me" href="{{ '/2020/03/10/index.html' | prepend: site.github_url }}">
        <!-- <div class="m-pics">
            <img src="assets/image/me.jpg" alt="">
        </div> -->
        <div class="m-info">
            <div style="font-size: 20px;">林 漫</div>
            <div style="margin-bottom: 10px;">可攻可守的产品人</div>
        </div>
    </a>
</div>

<div class="m-category">

    {% for item in site.data.topic.toc %}
    <details open>
        <summary class="m-topic-title">
            <div>{{ item.title }}</div>
        </summary>
        <ul>
            {% for entry in item.subfolderitems %}
            <li>
                <a href="{{ entry.url | prepend: site.github_url }}"
                    style="{% if entry.page == page.title %}background: rgb(103 169 191 / 13%);box-shadow: 2px 2px 5px 3px rgb(103 169 191 / 13%){% endif %}"
                    title="{{ entry.page }}">
                    <span class="m-nav-title"
                        style="{% if entry.page == page.title %}font-weight:600{% else %}font-weight: 500{% endif %}">{{entry.page }}</span>
                    <div style="font-size: 12px;color: #9e9e9e;height:18px;line-height:8px;padding-left: 2px;">
                        <span>{{ entry.date }}</span>
                    </div>
                    <div style="padding-right:4px;height: 18px;padding-left: 2px;">
                        {% for tag in entry.tags %}
                        <span class="m-badge">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </a>

            </li>
            {% endfor %}
        </ul>
    </details>
    {% endfor %}
</div>