<div id="particles-js">

  <div class="header">
    <h1>
      <span class="site-title">{{ site.username }}</span>
      <span class="site-description">{{ site.user_title }}</span>
      <span class="site-description">{{ site.user_title_cn }}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:591858556@qq.com"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/manman0310"><i class="icon fa fa-github-alt"
          aria-hidden="true"></i></a>
      <a aria-label="My Resume" href="resume" target="_blank"><i class="icon fa fa-file-text-o" title='查看我的简历吧' aria-hidden="true"></i>
      </a>
    </div>
    <div class="header-links">
      <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>