$header-height:30px;
$inner-height:calc(100vh - 72px);
// theme1
$color-theme1:#67a9bf;
$tag-color1:#cbe8fa;
$tag-text1:#43a6dd;
$summary-title1:white;
$table-bg1:#cbe8fa;
$table-border1:#9dbde3;
$a-text1:#0071a9;
// theme2
$color-theme2:#f7c6d6;
$tag-color2:#fe91ca38;
$tag-text2:#fe91ca;
$summary-title2:black;
$table-bg2:#ffe0f7;
$table-border2: #ef61915e;
$a-text2:#9C27B0;

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #fbfbfb;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px $color-theme1;
    background-color: $color-theme1;
}

::-webkit-scrollbar-button {
    background-color: #fbfbfb;
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background-color: #fbfbfb;
}

body {
    margin: 0;
    overflow-y: hidden;
}


#particles-blog {
    position: fixed;
    vertical-align: bottom;
    height: $header-height;
    width: 100%;
    background: $color-theme1;

    .header-blog {
        width: 100%;

        .blog-title {
            -webkit-background-clip: text;
            color: transparent;
            text-shadow: -3px -5px 8px #bcc1d2;
            font-size: 44px;
            display: inline-block;
            padding-top: 4px;
            padding-left: .7em;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }

        .header-links {
            float: right;
            height: 30px;
            line-height: 30px;
            color: white;
            font-weight: 600;
            padding-right: 20px;
        }
    }
}

#g-blog {
    height: 100%;

    .g-blog-left {
        font-family: sans-serif;
        position: fixed;
        width: 300px;
        vertical-align: top;
        padding: 0 0 10px 0;
        margin-top: $header-height;
        height: 100%;
        overflow-y: auto;

        .g-blog-left-inner {
            height: 100%;
            background: white;
            overflow: hidden;

            .m-contents {
                height: 76px;
                margin-bottom: 8px;

                .m-about-me {
                    height: 70px;
                    padding: 0 14px 0;
                    margin-bottom: 8px;
                    cursor: pointer;
                    color: black;

                    &hover {
                        color: black;
                    }

                    .m-pics {
                        height: 90px;
                        width: 90px;
                        display: inline-block;

                        img {
                            height: 100%;
                        }
                    }

                    .m-info {
                        width: 160px;
                        font-size: 15px;
                        font-weight: 600;
                        display: inline-block;
                        vertical-align: top;
                        padding-top: 16px;
                        padding-left: 10px;
                    }
                }
            }

            .m-category {
                height: calc(100% - 122px);
                overflow-y: auto;
                border-top: 1px $tag-text1 dotted;

                .m-topic-title {
                    outline: none;
                    height: 32px;
                    background: $color-theme1;
                    line-height: 32px;
                    font-weight: 600;
                    cursor: pointer;
                    position: relative;
                    color: $summary-title1;

                    div {
                        position: absolute;
                        top: 0;
                        padding: 0 12px;
                        background: $color-theme1;
                        cursor: pointer;
                        text-align: right;
                    }
                }

                .m-badge {
                    display: inline-block;
                    width: fit-content;
                    padding: 2px 6px;
                    border-radius: 2px;
                    background: $tag-color1;
                    font-size: 12px;
                    height: 14px;
                    line-height: 14px;
                    position: relative;
                    bottom: 4px;
                }

                ul {
                    margin: 0;
                    padding-left: 2px;

                    li {
                        padding-bottom: 4px;
                        list-style: '❤';
                        color: $tag-text1;
                        border-bottom: 1px $tag-text1 dotted;
                        list-style-position: inside;
                        padding-left: 8px;
                        padding-top: 2px;

                        ::marker {
                            padding-top: 10px;
                        }

                        a {
                            text-decoration: none;
                            color: #251f44;
                            font-size: 14px;
                            display: inline-block;
                            width: 260px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 15px;
                            height: 18px;
                            vertical-align: text-bottom;

                            &:hover {
                                text-decoration: underline;
                            }

                        }
                    }
                }
            }

        }

    }

    .g-blog-right {
        overflow-y: auto;
        overflow-x: auto;
        width: calc(100% - 330px);
        float: right;
        font-family: sans-serif;
        background: white;
        height: calc(100vh - 50px);
        padding: 50px 14px 0 10px;

        h1 {
            margin-top: 0;
        }

        h5 {
            font-size: 16px;
        }

        table {
            border: $table-bg1 1px solid;
            background: $table-bg1;
            border-collapse: collapse;
            font-size: 12px;

            thead {
                border: 1px solid $table-border1;

                th {
                    padding: 4px 8px;
                }
            }

            tbody {
                td {
                    border: 1px solid $table-border1;
                    padding: 2px 10px;
                }
            }
        }
    }

    .u-post-a {
        text-decoration: none;
        color: $a-text1;
        font-size: 14px;
        margin-bottom: 30px;
        display: block;
        border: 1px dotted;
        width: 200px;
        text-align: center;
        padding: 4px 30px;

        &:hover {
            font-weight: 600;
        }
    }
}

.blog_footer {
    padding: 1px 0;
    text-align: center;
    color: #fff;

    .love {
        color: red;
    }

    a {
        text-decoration: none;
        margin: 0;
        color: #fff;
    }
}