#particles-blog {
    background: #1a222c;
    display: flex;
    vertical-align: bottom;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .header-blog {
        .blog-title {
            color: #d3dbff;
            font-size: 36px;
            display: inline-block;
            height: 80px;
            line-height: 80px;
            padding-left: 1em;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#g-blog {
    height: calc(100vh - 156px);
    overflow: hidden;
    background: #fe91ca;

    .g-blog-left {
        font-family: sans-serif;
        float: left;
        height: calc(100vh - 186px);
        width: 300px;
        vertical-align: top;
        padding: 15px 0 15px 10px;

        .g-blog-left-inner {
            height: 100%;
            border-radius: 10px;
            background: #ffe0f7;
            outline: 10px solid #fe91ca;
            box-shadow: 0 0 0 5px #fe91ca;

            .m-contents {
                font-size: 30px;
                padding: 38px 38px 0;
                font-weight: 600;
            }
        }


        ul {
            li {
                height: 30px;
                line-height: 30px;
                list-style: none;

                a {
                    text-decoration: none;
                    color: #251f44;
                    font-size: 14px;

                    &:hover {
                        font-weight: 600;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .g-blog-right {
        height: calc(100vh - 188px);
        overflow-y: auto;
        overflow-x: hidden;
        width: calc(100vw - 372px);
        float: right;
        font-family: sans-serif;
        margin-top: 15px;
        padding-left: 45px;
        border-top: 1px #fe91ca dashed;
        border-bottom: 1px dashed #fe91ca;
        background: white;

        h1 {
            margin-top: 0;
        }
    }

}

.blog_footer {
    background: #1a222c;
    padding: 10px 0;
    text-align: center;
    color: #fff;

    .love {
        color: red;
    }

    a {
        text-decoration: none;
        margin: 0;
        color: #fff;
    }
}