.user-details h1 {
  font-weight: 600;
  position: relative;
  margin-top: 2em;
}

.user-details h1 a {
  text-decoration: none;
  position: absolute;
  animation: shake 1.8s infinite;
  width: 400px;
  top: 0;
  left: calc(50% - 200px);
  font-weight: 600;
}

.user-details h1 a:hover {
  text-decoration: underline;
}
