html,
body,
header,
section,
div,
address,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  min-height: 100%;
}

body {
  font-size: 1rem;
  font-family: "microsoft yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
  color: #979899;
}

h2 {
  font-size: 4rem;
  font-weight: 200;
  margin: 0 0 1rem;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #e0a80d;
}

.hide {
  display: none;
}

.progress {
  position: relative;
  background: #404242;
  height: 5px;
}

.progress .progress-bar {
  height: 100%;
  background: #e0a80d;
}

/* loading */
body {
  background: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.loading {
  position: fixed;
  top: 45%;
  left: 50%;
}
